/* public/styles.css */
.main-navbar {
  border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar {
  background-color: #2874f0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name {
  color: #fff;
}
.main-navbar .top-navbar .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu {
  padding: 0px 0px;
  border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
  width: 20px;
  text-align: center;
  color: #2874f0;
  font-size: 14px;
}
.main-navbar .navbar {
  padding: 0px;
  background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link {
  padding: 8px 20px;
  color: #000;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .main-navbar .top-navbar .nav-link {
    font-size: 12px;
    padding: 8px 10px;
  }
}

/* styles/style.css */

/* Body styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body extends to at least the height of the viewport */
  margin: 0;
}

/* Footer styles */
.footer-area {
  padding: 40px 0;
  background-color: #2874f0;
  color: #fff;
  flex-shrink: 0; /* Prevent the footer from shrinking */
}

.footer-area a {
  text-decoration: none;
  color: #fff;
}

.footer-area .footer-heading {
  font-size: 24px;
  color: #fff;
}

.footer-area .footer-underline {
  height: 1px;
  width: 70px;
  background-color: #ddd;
  margin: 10px 0;
}

/* Copyright area styles */
.copyright-area {
  padding: 14px 0;
  background-color: #262626;
  color: #fff;
  text-align: center; /* Center-align the content within the copyright area */
  flex-shrink: 0; /* Prevent the copyright area from shrinking */
}

.copyright-area p {
  margin-bottom: 0;
}

.copyright-area .social-media {
  text-align: end;
}

.copyright-area .social-media a {
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
}

.connexion{
color: #fff;
text-decoration-line: none;
}


.img-block {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0 8px 8px 0;
  vertical-align: top;
}

.img-fluid2 {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bg-gray {
  background-color: bisque;
  border: 2px solid #f8f8f8;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: bisque;
  padding: 25px;
  width: 104px;
  height: 104px;
  text-align: center;
}

.image-btn {
  border: 2px solid transparent;
  background-color: transparent;
  padding: 2px 15px;
  font-size: 25px !important;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.remove_img {
  background-color: bisque;
  border-radius: 69%;
  border: 1px solid #7a7a7a;
  position: relative;
  top: -106px;
  right: -78px;
  padding: 4px 8px;
  font-size: 11px;
  cursor: pointer;
}

